<div class="row">
    <label for="timeInput">Select A Time</label>
    <select class="form-control" id="timeInput" ng-model="">
        <option type="number" value="8">8:00am</option>
        <option type="number" value="9">9:00am</option>
        <option type="number" value="10">10:00am</option>
        <option type="number" value="11">11:00am</option>
        <option type="number" value="12">12:00pm</option>
        <option type="number" value="13">1:00pm</option>
        <option type="number" value="14">2:00pm</option>
        <option type="number" value="15">3:00pm</option>
        <option type="number" value="16">4:00pm</option>
        <option type="number" value="17">5:00pm</option>
      </select>
</div>

<div class="row">
    <label for="timeInput">Select A Time</label>
    <select class="form-control" id="timeInput" ng-model="">
        <option type="number" value="8">8:00am</option>
        <option type="number" value="9">9:00am</option>
        <option type="number" value="10">10:00am</option>
        <option type="number" value="11">11:00am</option>
        <option type="number" value="12">12:00pm</option>
        <option type="number" value="13">1:00pm</option>
        <option type="number" value="14">2:00pm</option>
        <option type="number" value="15">3:00pm</option>
        <option type="number" value="16">4:00pm</option>
        <option type="number" value="17">5:00pm</option>
      </select>
</div>

<div class="row">
    <label for="timeInput">Select A Time</label>
    <select class="form-control" id="timeInput" ng-model="">
        <option type="number" value="8">8:00am</option>
        <option type="number" value="9">9:00am</option>
        <option type="number" value="10">10:00am</option>
        <option type="number" value="11">11:00am</option>
        <option type="number" value="12">12:00pm</option>
        <option type="number" value="13">1:00pm</option>
        <option type="number" value="14">2:00pm</option>
        <option type="number" value="15">3:00pm</option>
        <option type="number" value="16">4:00pm</option>
        <option type="number" value="17">5:00pm</option>
      </select>
</div>