<div ng-controller="associateWelcomeCtrl" data-ng-app="USL1701.Frontend">
    <div class="col-md-4" id="assocaitestanding">
        
        <div id="associatestandinglabel">
            <b>Associate's Standing</b>
        </div>
        <div id="associatestatus">
            Status: {{status}}
        </div>
        <div>
            [this is where we import the graph that shows the progress of the associate]
        </div>
        <div id="associatestatus">
            Associate's Batch: {{batchName}}
        </div>
        <div id="associatestatus">
            Trainer: {{batchTrainer}}
        </div>
    </div>


    <div class-"col-md-8" id="assocaitedetails">
        <div class="welcomeuser">
            <b>Welcome {{name}}!</b>
        </div>
        <div class="userType">
            {{userType}}
        </div>
        <br>
        <br>
        <div id="associatestandinglabel">
            <b><u>Weeks</u></b>
        </div>

    </div>
</div>