<div class="associateviewintro">
    <div class="col-md-4" id="assocaitestanding">
        
        <div id="associatestandinglabel">
            <b>Associate's Standing</b>
        </div>
        <div id="associatestatus">
            Status: <u>{{status}}</u>
        </div>
        <div>
            <!--[this is where we import the graph that shows the progress of the associate]-->
            <div id="chart_div"></div>
        </div>
        <div id="associatestatus">
            Associate's Batch: <u>{{batchName}}</u>
        </div>
        <div id="associatestatus">
            Trainer: <u>{{batchTrainer}}</u>
        </div>
    </div>


    <div class="col-md-8" id="assocaitedetails">
        <div class="welcomeuser">
            <b>Welcome {{user.fname}} {{user.lname}}!</b>
        </div>
        <div class="userType">
            {{userType}}
            <!--{{user.UserType}}-->
        </div>
        <br>
        <br>
        <div id="associatestandinglabel">
            <b><u>Exam</u></b>
        </div>
        <br>
        <div id="listofexams"> <!-- ng-repeat="items in exams"-->
            {{items}}
        </div>


        {{aBatch.data[0].ExamSettings}}

    </div>
</div>
  