<div>
    <div class="col-md-2">
        <div class="questionsreviewbox">
            <div id="questionslabel">Questions</div>
            <div class="questionslist">
                <div class="row">
                    <div class="col-md-12">
                        <p>
                            <a href="#" class="btn btn-sq-xs btn-primary">
                                <i class="fa fa-user fa-1x"></i><br/>
                            </a>
                            <a href="#" class="btn btn-sq-xs btn-primary">
                                <i class="fa fa-user fa-1x"></i><br/>
                            </a>
                            <a href="#" class="btn btn-sq-xs btn-primary">
                                <i class="fa fa-user fa-1x"></i><br/>
                            </a>
                            <a href="#" class="btn btn-sq-xs btn-primary">
                                <i class="fa fa-user fa-1x"></i><br/>
                            </a>
                            <a href="#" class="btn btn-sq-xs btn-primary">
                                <i class="fa fa-user fa-1x"></i><br/>
                            </a>
                            <a href="#" class="btn btn-sq-xs btn-default">
                                <i class="fa fa-user fa-1x"></i><br/>
                            </a>
                            <a href="#" class="btn btn-sq-xs btn-default">
                                <i class="fa fa-user fa-1x"></i><br/>
                            </a>
                            <a href="#" class="btn btn-sq-xs btn-default">
                                <i class="fa fa-user fa-1x"></i><br/>
                            </a>
                            <a href="#" class="btn btn-sq-xs btn-default">
                                <i class="fa fa-user fa-1x"></i><br/>
                            </a>
                            <a href="#" class="btn btn-sq-xs btn-default">
                                <i class="fa fa-user fa-1x"></i><br/>
                            </a>
                            <a href="#" class="btn btn-sq-xs btn-default">
                                <i class="fa fa-user fa-1x"></i><br/>
                            </a>
                            <a href="#" class="btn btn-sq-xs btn-default">
                                <i class="fa fa-user fa-1x"></i><br/>
                            </a>
                            <a href="#" class="btn btn-sq-xs btn-default">
                                <i class="fa fa-user fa-1x"></i><br/>
                            </a>
                            <a href="#" class="btn btn-sq-xs btn-default">
                                <i class="fa fa-user fa-1x"></i><br/>
                            </a>
                            <a href="#" class="btn btn-sq-xs btn-default">
                                <i class="fa fa-user fa-1x"></i><br/>
                            </a>
                            <a href="#" class="btn btn-sq-xs btn-default">
                                <i class="fa fa-user fa-1x"></i><br/>
                            </a>
                            <a href="#" class="btn btn-sq-xs btn-default">
                                <i class="fa fa-user fa-1x"></i><br/>
                            </a>
                            <a href="#" class="btn btn-sq-xs btn-default">
                                <i class="fa fa-user fa-1x"></i><br/>
                            </a>
                            <a href="#" class="btn btn-sq-xs btn-default">
                                <i class="fa fa-user fa-1x"></i><br/>
                            </a>
                            <a href="#" class="btn btn-sq-xs btn-default">
                                <i class="fa fa-user fa-1x"></i><br/>
                            </a>
                            <a href="#" class="btn btn-sq-xs btn-default">
                                <i class="fa fa-user fa-1x"></i><br/>
                            </a>
                            <a href="#" class="btn btn-sq-xs btn-default">
                                <i class="fa fa-user fa-1x"></i><br/>
                            </a>
                            <a href="#" class="btn btn-sq-xs btn-default">
                                <i class="fa fa-user fa-1x"></i><br/>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        Mock data 2. <br> {{timer}}
    </div>
</div>