<div>
    
    <div class="examsettingstitle">
        <b><u>Exam Settings</u></b>
    </div>
    <br>
    <div class="examname">
        <b>{{examname}}</b>
    </div>
    <br>
    <div class="col-md-4"></div>

    <div class="col-md-8" id="examinformation">
        <div class = "col-md-1"></div>
            <div class= "col-md-6">
                Open Time: <u>{{BatchExams[0].StartTime}}</u>
                <br>
                <!--Start Time: <u>{{starttime}}</u>-->
                <br>
                Close Time: <u>{{BatchExams[0].EndTime}}</u>
                <br>
                Length of Test: <u>{{BatchExams[0].LengthOfExamInMinutes}} minutes</u>
                <br>
                <!-- TODO: Returns the number of questions in the exam -->
                <!--# of Questions: <u>{{returnedData.ExamQuestions.length}}</u>-->
                <br><br>
            </div>
    </div>

    <div id="startButtons">
        <a href="#!/examinprogress"><button type="button" class='btn btn-success'>Start Test</button></a>
        <a href="#!/associateHome"><button type="button" class='btn btn-danger'>Go Back</button></a>
    </div>

    <!-- Debugging
        {{returnedData}}
    -->
</div>