<div>
    <div class="col-md-4" id="assocaitestanding">
        
        <div id="associatestandinglabel">
            <b>Associate's Standing</b>
        </div>
        <div id="associatestatus">
            Status: {{status}}
        </div>
        <div>
            [this is where we import the graph that shows the progress of the associate]
        </div>
        <div id="associatestatus">
            Associate's Batch: {{batchName}}
        </div>
        <div id="associatestatus">
            Trainer: {{batchTrainer}}
        </div>
    </div>


    <div class-"col-md-8" id="assocaitedetails">
        <div class="welcomeuser">
            <b>Welcome {{userName}}!</b>
        </div>
        <div class="userType">
            {{userType}}
        </div>
        <br>
        <br>
        <div id="associatestandinglabel">
        <div class="container">
  <h3><b><u>Test</u></b></h3>
  <div class="panel-group">
    <div class="panel panel-default">        
  <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">Test one</button>
  <div id="demo" class="panel-collapse in">
    <div class="panel-body">{{userType}}</div>
        <div class="panel-footer">Panel Footer</div>
  </div>
</div>
  </div>

  
</div>

            
        </div>

    </div>
