<div ng-controller="associateInExamCtrl">
    <div class="col-md-2">
        <div class="questionsreviewbox">
            <div id="questionslabel"><b><u>Questions</u></b></div>
            <br>
            <div class="questionslist">
                <div class="row">
                    <div class="col-md-12">
                        <p>
                            <a href="#" class="btn btn-sq-xs btn-primary">
                                1
                            </a>
                            <a href="#" class="btn btn-sq-xs btn-primary">
                                2
                            </a>
                            <a href="#" class="btn btn-sq-xs btn-warning">
                                3
                            </a>
                            <a href="#" class="btn btn-sq-xs btn-primary">
                                4
                            </a>
                            <a href="#" class="btn btn-sq-xs btn-primary">
                                5
                            </a>
                            <a href="#" class="btn btn-sq-xs btn-default">
                                6
                            </a>
                            <a href="#" class="btn btn-sq-xs btn-default">
                                7
                            </a>
                            <a href="#" class="btn btn-sq-xs btn-default">
                                8
                            </a>
                            <a href="#" class="btn btn-sq-xs btn-default">
                                9
                            </a>
                            <a href="#" class="btn btn-sq-xs btn-default">
                                10
                            </a>
                            <a href="#" class="btn btn-sq-xs btn-default">
                                11
                            </a>
                            <a href="#" class="btn btn-sq-xs btn-default">
                                12
                            </a>
                            <a href="#" class="btn btn-sq-xs btn-default">
                                13
                            </a>
                            <a href="#" class="btn btn-sq-xs btn-default">
                                14
                            </a>
                            <a href="#" class="btn btn-sq-xs btn-default">
                                15
                            </a>
                            <a href="#" class="btn btn-sq-xs btn-default">
                                16
                            </a>
                            <a href="#" class="btn btn-sq-xs btn-default">
                                17
                            </a>
                            <a href="#" class="btn btn-sq-xs btn-default">
                                18
                            </a>
                            <a href="#" class="btn btn-sq-xs btn-default">
                                19
                            </a>
                            <a href="#" class="btn btn-sq-xs btn-default">
                                20
                            </a>
                            <a href="#" class="btn btn-sq-xs btn-default">
                                21
                            </a>
                            <a href="#" class="btn btn-sq-xs btn-default">
                                22
                            </a>
                            <a href="#" class="btn btn-sq-xs btn-default">
                                23
                            </a>
                        </p>
                    </div>
                </div> <!-- .row -->
            </div> <!-- .questionslist -->
            <div class="sampletimerbox">
            Timer: 
            <span ng-controller="associateInExamCtrl">{{displaytimer}}</span>
            </div> <!-- .sampletimerbox -->
        </div> <!-- .questionsreviewbox -->
    </div> <!-- .col-md-2 -->

<!--Giving a little more separation between the questions and the content.-->
    <div class="col-md-1">
    </div>

<!-- Disply where the questions and answers will be presented -->
    <div class="col-md-6">
        <div class="questiondescription" >
            {{question}}
        </div> <!-- .questiondescription -->
        <br><br>
        <div class="answeroptions">
            {{answeroptions}}
        </div> <!-- .answeroptions -->
        <br><br>
        <div class="prevornext">
            <a href="#"><button type="button" class='btn btn-primary'>Prev</button></a>
            <a href="#"><button type="button" class='btn btn-success'>Next</button></a>
        </div> <!-- .prevornext -->
    </div> <!-- .col-md-6 -->
</div> <!-- end entire partial view -->