<div>
    <div class="jumbotron welcome">
        <h1 class="display-3">WELCOME TO LMS REMASTERED</h1>
        <br>
        <h4 class="display-3">Please sign in below</h4>
    </div>


    <div class="loginblock">
        <div id="emaillabel">
        Email: <input type="text">
        </div>
        <br>
        <div id="passwordlabel">
        Password:  <input type="password">
        </div>
        
        <br><br>
        <div class="text-center">
            <a href="#"><button type="button" class='btn btn-success' id="loginsignupbuttons">Login</button></a>
            <a href="#"><button type="button" class='btn btn-primary' id="loginsignupbuttons">Sign Up</button></a>
        </div>
    </div>
</div>