<div ng-controller="loginCtrl" data-ng-app="USL1701.Frontend">
    <div class="jumbotron welcome">
        <h1 class="display-3 bg-primary" id="welcometext">WELCOME TO LMS REMASTERED</h1>
        <br>
        <h4 class="display-3"><p class="text-success">Please sign in below</p></h4>
    </div>


    <div class="loginblock">
        <div id="emaillabel">
        Email: <input type="text" ng-model="Email" placeholder="username@email.com">
        </div>
        <br>
        <div id="passwordlabel">
        Password:  <input type="password" ng-model="Pword" placeholder="Enter password here">
        </div>
        
        <br><br>
        <div class="text-center">
            <a href="#"><button type="button" class='btn btn-success btn-lg' ng-click="check(Email,Pword)" id="loginsignupbuttons">Login</button></a>
        </div>
    </div>
</div>