<div>
    <div class="col-md-4" id="assocaitestanding">
        
        <div id="associatestandinglabel">
            <b>Batch Info</b>
        </div>
        <div id="associatestatus">
            Current Batch: {{batchName}}
        </div>
        <div class="numofassociates">
            # of Associates: {{numOfAssociates}}
        </div>
        <div class="gradebookbutton">
            <a href="" id="gradebooklink" ng-click="gradebookClicked = !gradebookClicked">Gradebook</a>
        </div>
        <div class="detailsandsyllabusblock">
            <a href="">Details and Syllabus</a>
        </div>
        <div class="addtesttobatchblock">
            <a href="">Add Test to Batch</a>
        </div>
        <div class="changeExistingExam">
            <a href="" ng-click="routeToExams()">Change Existing Exam</a>
        </div>
        <div class="trainerhistory">
            <a href="#!/trainerhistory" ng-click="trainerhomepageClicked = !trainerhomepageClicked">Trainer History</a>
            
        </div>
        <br><br>
        <!--<input type="checkbox" ng-model="blah">-->
        <br>     
        <br><br><br><br>
        
    </div>


    <div class-"col-md-8" id="assocaitedetails">
        <div class="welcomeuser">
            <b>Welcome {{userName}}!</b>
        </div>
        <div class="userType">
            {{userType}}
        </div>
        <br>
        <br>
        <div ui-view="gradebook" ng-show="gradebookClicked"></div>
        <div ui-view="trainerChangeExistingExam"></div>
    </div>
</div>