<div>
    <div class="col-md-4" id="assocaitestanding">
        
        <div id="associatestandinglabel">
            <b>Batch Info</b>
        </div>
        <div id="associatestatus">
            Current Batch: {{batchName}}
        </div>
        <div class="numofassociates">
            # of Associates: {{numOfAssociates}}
        </div>
    </div>


    <div class-"col-md-8" id="assocaitedetails">
        <div class="welcomeuser">
            <b>Welcome {{userName}}!</b>
        </div>
        <div class="userType">
            {{userType}}
        </div>
        <br>
        <br>
        <div id="weekslabel">
            <b><u>Weeks</u></b>
        </div>

    </div>
</div>