<div>
    <div class="col-md-4" id="assocaitestanding">
        
        <div id="associatestandinglabel">
            <b>{{userName}}'s History</b>
        </div>
        <div id="associatestatus">
             <a href="" ng-click="trainerbatchClicked = !trainerbatchClicked"> {{userName}}'s Batches</a>

        </div>
        <div class="changeExistingExam">
            <a href="" ng-click="routeToExams()">Exam List</a>
        </div>
        
        
        <br><br>
        <!--<input type="checkbox" ng-model="blah">-->
        <br>     
        <br><br><br><br>
        <!--<div ui-view="trainerhistoryexam"></div>-->
    </div>    
</div>